# Build directories
build/
builddir/

# Server's config file
mustep.json

# Private cert and key
mustep.crt
mustep.key

# Temporary database
mustep.db

# Build files
*.exe
*.dll
*.lib
*.pdb

# Dub tmp
.dub/
dub.selections*
